/* On Click Cell and Arrow Key highlight */
.activeRow {
    background-color: #e1ebf3 !important;
}
.sapMILILabel {
    width: 50% !important;
    max-width: 50% !important;
    min-width: 50% !important;
}


.sapUiRespGrid{

    padding-top: 0.2rem !important;
    /* padding-bottom: 0rem !important; */
    padding-bottom: 1rem !important;

    /*padding-right: 2rem;

    padding-left: 2rem;*/

}
.sapUiFormResGrid>div {
    padding: 0.5rem 0.5rem !important;
    box-sizing: border-box !important;
}
.sapUiFormM:not(.sapUiFormEdit) .sapUiFormResGridCont>div {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    font-size: 1px !important;
}

.sapUiSizeCompact .sapMInputBaseHeightMargin {
    margin: 0rem 0 !important;
}

.vBoxDetail{
    height: 80%;
    padding-left: 0rem;
    padding-right: 0rem;
}
/* .tableDetail {
    position: relative;
} */
.tableDetail > .sapMFlexItem {
    height: 100%;
}

.requiredField {
    color: red !important;
}

/* smart filter bar value help configuration */
.compValueHelpDialog .sapUiTableCtrl> thead > .sapUiTableCtrlCol > th[style]:nth-child(1) {
    width: 170px !important;
}

/* .compValueHelpDialog .sapUiTableCtrl> thead > .sapUiTableCtrlCol > th:nth-child(1) {
    width: auto;
} */

.sapMLabelRequired, .sapMLabelRequired::before {

    color: #c75858 !important;

}